html {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  height: 100vh;
}

.hidden {
  transform: translateY(-100%);
}

#landingPageDiv,
#mapDiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

#landing-page-box {
  position: absolute;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

#email-subscribe {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
}

#map {
  height: 100vh;
}


#map-container{
  position:relative;
}

#singaporeLogo {
  position: absolute;
  z-index: 314159;
  width: 60px;
  top: -5px;
  left: 60px;
}

.customMRTMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: blue;
  opacity: 0.6;
}

.customRestaurantMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: green;
  opacity: 0.6;
}

.customGymMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: yellow;
  opacity: 0.6;
}

.customBarMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: red;
  opacity: 0.6;
}

.console--search-bar .logo-img {
  width: 35px;
}
/* Search input field */

/* --- Search Console Components --- */
.container-console {
  width: 95vw;
  z-index: 314160;
  background-color: #ededed;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);

  display: flex;
  flex-direction: column;
  gap: 2px;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


/* Logo Button */
.btn-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo */
.console--search-bar .logo-img {
  width: 35px;
}

/* Search input field */
#txtSearch {
  min-width: 0px;
  background-color: rgba(237, 237, 237, 1);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
}

#txtSearch:focus-visible {
  outline: none;
}

/* Search Button */
#btnSearch {
  width: 42px;
  color: #6e7587;

  display: flex;
  justify-content: center;
  align-items: center;
}

