html {
  height: 100%;
  width: 100%;
}



#main {
  position: relative;
  height: 100vh;
  /* font-family: 'Roboto', sans-serif; */
}

.non {
  transform: translateY(-100%);
}

#landingPageDiv,
#mapDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#landing-page-box {
  position: absolute;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

#email-notify {
  position: absolute;
  bottom: 1px;
  right: 1px;
  left: 1px;
  margin-left: auto;
  margin-right: auto;
  height: 110px;
  width: auto;
}

@media (min-width: 576px) {
  #email-notify {
      position: absolute;
      bottom: 25px;
      right: 25px;
      left: auto;
      height: 110px;
      width: 460px;
  }

  #txt-email {
      width: 140px;
  }
}

#map {
  height: 100vh;
}


#map-container{
  position:relative;
}

#logo {
  position: absolute;
  z-index: 314159;
  width: 60px;
  top: -5px;
  left: 60px;
}

/* .customMRTMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: blue;
  opacity: 0.6;
} */

/* @media (min-width: 576px) {
  .customRestaurantMarkerClusterIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: green;
    opacity: 0.6;
  }
  
  .customGymMarkerClusterIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: yellow;
    opacity: 0.6;
  }
  
  .customBarMarkerClusterIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.6;
  }
   
} */
  
  

.customMRTMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: blue;
  opacity: 0.6;
}
.customRestaurantMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: green;
  opacity: 0.6;
}

.customGymMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: yellow;
  opacity: 0.6;
}

.customBarMarkerClusterIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: red;
  opacity: 0.6;
}

@media screen and (max-width:390px){
  .leaflet-marker-icon{
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
  }
  
}

/* Search input field */

/* --- Search Console Components --- */
.container-console {
  width: 50vw;
  z-index: 314160;
  background-color: #ededed;
  padding: 6px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  top: 90px;
  left: 27%;
  transform: translateX(-50%);
  opacity:0.8;
}



/* Logo */
.console--search-bar .logo-img {
  width: 35px;
}

/* Search Button */
#btnSearch {
  width: 40px;
  color: #00b48a;

}

/* @media screen and (min-width: 375px) {
  #search-container {
    display: block;
  }
} */